In [126]:
# import libraries
import numpy as np
import pandas as pd
import re
import string
from collections import defaultdict
import nltk
from nltk.corpus import stopwords
import io
import csv
from pandas import DataFrame

import warnings
warnings.filterwarnings('ignore')

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [127]:
# create df for brands and models
df = pd.read_csv("scrapedData.csv", index_col=0)
cars = pd.read_csv("carmodelsandbrands.csv",header =None)
# create columns for brand and model
cars.columns = ['brand', 'model']
models = cars['model'] 
brands = cars['brand']
cars['model'] = cars['model'].str.upper() 
cars['brand'] = cars['brand'].str.upper() 
cars[:3]

   brand    model
0  ACURA  INTEGRA
1  ACURA   LEGEND
2  ACURA    VIGOR

In [128]:
# create dictionary for brands, models
brand_dict = {models[i]:brands[i] for i in range(len(models))}

In [129]:
# read in data and rename columns
df = pd.read_csv('scrapedData.csv')
df.rename(columns = {'Date': 'date'}, inplace = True)
df.drop(columns=['PageCommentNumber'], inplace = True)
df.head()

,date,author,text
0,2004-04-02T13:43:55+00:00,fintail,"This isn't totally new, but I saw my first Sci..."
1,2004-04-02T13:52:23+00:00,andre1969,I saw both a Colorado and a Malibu in DC. I kn...
2,2004-04-02T15:25:54+00:00,lemko,...but I saw a Mazda 3 last week.
3,2004-04-02T15:28:12+00:00,andre1969,"sometimes though, at a quick glance it takes m..."
4,2004-04-02T16:07:00+00:00,PF_Flyer,"Yea, we can have some retroactive sightings to..."

In [130]:
# convert comments column to strings
df['text'] = df['text'].apply(str)
# create a list of the comments
comments = df['text'].tolist()

In [131]:
def get_word_frequency(wordlist):
 
    # replace certain characters with spaces
    wordlist = wordlist.replace("/", " ")
    wordlist = wordlist.replace("_", " ")
    wordlist = wordlist.replace("'", " ")
        
    # create list of words for the comment
    tokens = nltk.tokenize.word_tokenize(wordlist)
 
    # get list of English stop words
    take_out = stopwords.words('english')
    take_out = [word.upper() for word in take_out]
 
    # convert word to uppercase
    tokens = [word.upper() for word in tokens]
 
    # filter out stop words and punctuation from tokens list
    tokens = [word for word in tokens if word not in take_out]
    tokens = [word for word in tokens if word not in string.punctuation]
    tokens = [word for word in tokens if word[0] not in string.punctuation]
    
    # replace car models with brands
    tokens_replaced = []
    for item in tokens:
        if item in brand_dict.keys():
            tokens_replaced.append(brand_dict[item])
        else:
            tokens_replaced.append(item)
 
    # get word frequency distribution
    word_frequencies = nltk.FreqDist(tokens_replaced)
 
    # sort word frequency distribution by number of times each word occurs
    sorted_counts = sorted(word_frequencies.items() , key = lambda x: x[1] ,
                           reverse = True)
 
    return sorted_counts

In [132]:
# create list with comment sublists that include words and frequency counts
preresults = [x for x in comments if x != '']
results = [get_word_frequency(x) for x in preresults]
results[0:1]

[[('SAW', 2),
  ('TOYOTA', 2),
  ('TOTALLY', 1),
  ('NEW', 1),
  ('FIRST', 1),
  ('DAY', 1),
  ('BLACK', 1),
  ('BOXY', 1),
  ('BELLINGHAM', 1),
  ('WA', 1),
  ('WAYS', 1),
  ('ACTUALLY', 1),
  ('SELL', 1),
  ('THINK', 1),
  ('COUNTS', 1)]]

In [133]:
# get list of unique words in posts
allwords = []
for comment in results:
    for word in comment:
        # Append Word form (Word, Occurance) tuple
        allwords.append(word[0])
allwords[:5]

['SAW', 'TOYOTA', 'TOTALLY', 'NEW', 'FIRST']

In [134]:
# get word frequency across all comments (counting each word only once per post)
overall_text = ' '.join(allwords)
top_words = get_word_frequency(overall_text)
overall_freq = DataFrame(top_words,columns=['word','count'])
overall_freq.head(5)

   word  count
0   NEW   3927
1   ONE   3547
2   CAR   3534
3   SAW   3465
4  LIKE   3099

In [135]:
# export to csv
overall_freq.to_csv(r'C:\Users\katel\OneDrive\Desktop\Text Analysis\OverallWordFreq.csv', index = False)

# Jenny Code

In [136]:
import itertools

pairs = []
for i in results:
    pairs.append(itertools.permutations([i, 2]))
    
dictionary_of_pairs = {}

for i in pairs:
    dictionary_of_pairs.update
    
def Lift():
    for i in pairs():
        word_1 = i
        word_2 = i+1
    lift_dictionary = {}

In [137]:
pairs[:5]

[<itertools.permutations at 0x24d5449e2e8>,
 <itertools.permutations at 0x24d5449e048>,
 <itertools.permutations at 0x24d5449e828>,
 <itertools.permutations at 0x24d5449e288>,
 <itertools.permutations at 0x24d5449e948>]