In [58]:
# import libraries
import numpy as np
import pandas as pd
import re
import string
from collections import defaultdict
import nltk
from nltk.corpus import stopwords
import io
import csv
from pandas import DataFrame
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [59]:
# read in data and rename columns
df = pd.read_csv('scrapedData.csv')
df.rename(columns = {'Date': 'date'}, inplace = True)
df.drop(columns=['PageCommentNumber'], inplace = True)
df.head()

,date,author,text
0,2004-04-02T13:43:55+00:00,fintail,"This isn't totally new, but I saw my first Sci..."
1,2004-04-02T13:52:23+00:00,andre1969,I saw both a Colorado and a Malibu in DC. I kn...
2,2004-04-02T15:25:54+00:00,lemko,...but I saw a Mazda 3 last week.
3,2004-04-02T15:28:12+00:00,andre1969,"sometimes though, at a quick glance it takes m..."
4,2004-04-02T16:07:00+00:00,PF_Flyer,"Yea, we can have some retroactive sightings to..."

In [60]:
# convert comments column to strings
df['text'] = df['text'].apply(str)
# create a list of the comments
comments = df['text'].tolist()

In [61]:
def get_word_frequency(wordlist):
 
    # replace slash with space
    wordlist = wordlist.replace("/", " ")
    wordlist = wordlist.replace("_", " ")
    wordlist = wordlist.replace("'", " ")
    wordlist = wordlist.replace("-", " ")
        
    # create list of words for the comment
    tokens = nltk.tokenize.word_tokenize(wordlist)
 
    # Get list of English stop words
    take_out = stopwords.words('english')
    take_out = [word.upper() for word in take_out]
 
    # Convert word to uppercase
    tokens = [word.upper() for word in tokens]
 
    # Filter out stop words and punctuation from tokens list
    tokens = [word for word in tokens if word not in take_out]
    tokens = [word for word in tokens if word not in string.punctuation]
    tokens = [word for word in tokens if word[0] not in string.punctuation]
 
    # Get word frequency distribution
    word_frequencies = nltk.FreqDist(tokens)
 
    # Sort word frequency distribution by number of times each word occurs
    sorted_counts = sorted(word_frequencies.items() , key = lambda x: x[1] ,
                           reverse = True)
 
    return sorted_counts

In [67]:
preresults = [x for x in comments if x != '']
results = [get_word_frequency(x) for x in preresults]
results[0:1]

[[('SAW', 2),
  ('TOTALLY', 1),
  ('NEW', 1),
  ('FIRST', 1),
  ('SCION', 1),
  ('XB', 1),
  ('DAY', 1),
  ('BLACK', 1),
  ('BOXY', 1),
  ('BELLINGHAM', 1),
  ('WA', 1),
  ('WAYS', 1),
  ('ACTUALLY', 1),
  ('SELL', 1),
  ('THINK', 1),
  ('COUNTS', 1)]]

In [70]:
hmm = []
for comment in results:
    for word in comment:
        list(word)
        del(word[1])

TypeError: 'tuple' object doesn't support item deletion

In [66]:
results[:2]

[[('SAW', 2),
  ('TOTALLY', 1),
  ('NEW', 1),
  ('FIRST', 1),
  ('SCION', 1),
  ('XB', 1),
  ('DAY', 1),
  ('BLACK', 1),
  ('BOXY', 1),
  ('BELLINGHAM', 1),
  ('WA', 1),
  ('WAYS', 1),
  ('ACTUALLY', 1),
  ('SELL', 1),
  ('THINK', 1),
  ('COUNTS', 1)],
 [('COLORADO', 2),
  ('MALIBU', 2),
  ('TIME', 2),
  ('SEEN', 2),
  ('SAW', 1),
  ('DC', 1),
  ('KNOW', 1),
  ('NEITHER', 1),
  ('ONE', 1),
  ('CUTTING', 1),
  ('EDGE', 1),
  ('NEWNESS', 1),
  ('LIKE', 1),
  ('SECOND', 1),
  ('ROADS', 1),
  ('MAYBE', 1),
  ('THIRD', 1),
  ('NEW', 1)]]

In [ ]:
# get list of unique words in posts
allwords = []
for comment in results:
    for word in comment:
        # Append Word form (Word, Occurance) tuple
        allwords.append(word[0])
allwords[:5]

In [ ]:
# get word frequency across all comments (counting each word only once per post)
overall_text = ' '.join(allwords)
top_words = get_word_frequency(overall_text)
overall_freq = DataFrame(top_words,columns=['word','count'])
overall_freq.head(5)

In [ ]:
# export to csv
overall_freq.to_csv(r'C:\Users\katel\OneDrive\Desktop\Text Analysis\OverallWordFreq.csv', index = False)

# Jenny Part

In [ ]:
import itertools

pairs = []
for i in results:
    pairs.append(itertools.permutations([i, 2]))
    
dictionary_of_pairs = {}

for i in pairs:
    dictionary_of_pairs.update
    
def Lift():
    for i in pairs():
        word_1 = i
        word_2 = i+1
    lift_dictionary = {}

In [ ]:
pairs[:5]